<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="es"><![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="es"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="es"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="es">
<!--<![endif]-->

<head>
    <!-- Website Template designed by www.downloadwebsitetemplates.co.uk -->
    <meta charset="UTF-8">
    <title>GmailToDropbox</title>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="/images/favicon.ico" rel="icon" type="image/x-icon" />

    <!--Styles-->
    <!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js" />-->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/fonts/fontawesome/font-awesome.css') }}">
    <!--End Styles-->
    <!--Scripts-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/scripts.js') }}"></script>

    <!--End Scripts-->
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>

<body>

<div class="container clearfix">
        <div id="headercont" class="bodycontainer clearfix">
            <h1><a>Gmail To Dropbox <span> ¡Descarga tus correos electrónicos y almacénalos en Dropbox!</span></a></h1>
        </div>
    </div>

    <div class="container bgblack clearfix">
        <div id="menucont" class="bodycontainer clearfix">
            <div class="menutitle">
                <p><strong>Menu</strong> <span class="fa fa-reorder"></span>
                </p>
            </div>
            <ul class="menu">
                <li class="active"><a title="" >Inicio</a>
                </li>
            </ul>
        </div>
    </div>
<div class="container bgwhite clearfix">
    <div id="maincont" class="bodycontainer clearfix ">
        <h1>Conectar con Dropbox</h1>
        <script language="JavaScript" type="text/javascript">
            function popitup(url) {
                newwindow = window.open(url, 'name', 'height=600,width=600');
                if (window.focus) {
                    newwindow.focus()
                }
                return false;
            }
        </script>
        <form  action="/success" class="col-md-12" name="dropboxForm" type="POST" method="POST">
            <div class="well">
                <div class="form-group">
                    <p>*Para poder guardar sus correos en Dropbox es necesario que dé permisos e indique la clave que dropbox le proporciona. <a href="" onClick="return popitup('https://www.dropbox.com/1/oauth2/authorize?response_type=code&client_id=5g0781coh89ty89')">
Click aquí para obtener permisos.
</a> </p>
                    
                </div>
                <div class="form-group">
                    *
                    <label id="password">Contraseña:</label>
                    <input type="password" name="tokenkey" id="telefono" ng-model="telefono" class="form-control" required>
                </div>
                <span class="help-block">Los campos con * son obligatorios.</span>
                <button type="submit" class="btn btn-primary btn-lock" ng-disabled="dropboxForm.$invalid">Conectar</button>
            </div>
        </form>
    </div>
</div>

    <div class="container clearfix">
        <div id="footercont" class="bodycontainer clearfix">
            <p>Trabajo de  la asignatura Sistemas Distribuidos</p>
        </div>
    </div>

</body>

</html>
